.dashboard_blog_container {
    flex-wrap: wrap;
    align-items: flex-start;

}

.dashboard_blog_con {
    background: #ffffff;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #cecece;
}

.dashboard_blog_title {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

.dashboard_blog_sec1,
.dashboard_blog_sec2 {
    width: 50%;
}

.dashboard_blog_sec1 {
    margin-right: 20px;
    width: calc(50% - 20px);
}

.dashboard_blog_sec2 {
    flex-direction: column;
}

.dashboard_blog_sec2>.dashboard_blog_con {
    height: calc(50vh - 90px);
}

.dashboard_blog_sec3 {
    width: 100%;
}

.dashboard_blog_draft {
    margin-bottom: 30px;
}

/* dashboard_blog -- published & submitted for reveiw */

.dashboard_blog_published,
.dashboard_blog_subFreveiw {
    padding: 0;
    padding-bottom: 20px;
    height: calc(100vh - 150px)
}

.dashboard_blog_published .dashboard_blog_title,
.dashboard_blog_subFreveiw .dashboard_blog_title {
    padding: 20px 20px 0 20px;
}


.dashboard_blog_published_blog_prev_con,
.dashboard_blog_subFreveiw_blog_prev_con {
    padding: 0 20px;
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.dashboard_blog_published_blog_prev_con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
}


.dashboard_blog_published_blog_prev,
.dashboard_blog_subFreveiw_blog_prev {
    position: relative;
    background: #e5e5e5;
    align-items: flex-start;
    padding: 10px;
    height: 310px;
    box-shadow: 0px 0px 10px #00000026;
    border-radius: 9px;
}

.dashboard_blog_published_blog_prev .published_blog_prev_image_con,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_image_con {
    height: 100px;
}

.dashboard_blog_published_blog_prev .published_blog_prev_thumbnail_con,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_thumbnail_con {
    width: 50%;
    height: 100%;
}

.dashboard_blog_published_blog_prev .published_blog_prev_thumbnail_img,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_thumbnail_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.dashboard_blog_published_blog_prev .published_blog_prev_miniImg_con,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_miniImg_con {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 50%;
    height: 100%;
}

.dashboard_blog_published_blog_prev .published_blog_prev_mini_img,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_mini_img {
    width: 100%;
    height: calc(50% - 5px);
    object-fit: cover;
    border-radius: 5px;
}

.dashboard_blog_published_blog_prev .more_blog_prev_mini_img {
    position: absolute;
    bottom: 0px;
    background: #00000099;
    width: 100%;
    height: calc(50% - 5px);
    color: #ffffff;
    border-radius: 5px;
    cursor: default;
}

.dashboard_blog_published_blog_prev .published_blog_prev_content,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_content {
    margin-top: 10px;
}

.dashboard_blog_published_blog_prev .published_blog_prev_content_title,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_content_title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.dashboard_blog_published_blog_prev .published_blog_prev_content_date,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_content_date {
    font-size: 11px;
    font-weight: 600;
}


.dashboard_blog_published_blog_prev .published_blog_prev_content_text,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_content_text {
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
}

.dashboard_blog_published_blog_prev .published_blog_prev_toolbar,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    justify-content: space-between;
    margin-top: 20px;
    width: calc(100% - 20px);
}

.dashboard_blog_published_blog_prev .published_blog_prev_tool,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_tool {
    background: #f1f1f1;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    box-shadow: 0 0 5px #c3c3c3;
    cursor: pointer;
    transform: scale(1) translateY(0px);
    transition: all 0.2s ease-in-out;
}

.dashboard_blog_published_blog_prev .published_blog_prev_tool:hover,
.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_tool:hover {
    background: var(--themec);
    transform: scale(1.1);
}

/* dashboard_blog -- draft & trash */

.dashboard_blog_draft_blog_prev_conWrap,
.dashboard_blog_trash_blog_prev_conWrap {
    position: relative;
    height: calc(100% - 50px);
}

.dashboard_blog_draft_blog_prev_conWrap .owl-prev,
.dashboard_blog_trash_blog_prev_conWrap .owl-prev {
    position: absolute;
    top: 50%;
    left: -28px;
    background: var(--themec);
    width: 15px;
    height: 25px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    transform: translate(0%, -50%);
}

.dashboard_blog_draft_blog_prev_conWrap .owl-next,
.dashboard_blog_trash_blog_prev_conWrap .owl-next {
    position: absolute;
    top: 50%;
    right: -28px;
    background: var(--themec);
    width: 15px;
    height: 25px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    transform: translate(0%, -50%);
}

.dashboard_blog_draft_blog_prev_con,
.dashboard_blog_trash_blog_prev_con {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.dashboard_blog_draft_blog_prev,
.dashboard_blog_trash_blog_prev {
    position: relative;
    background: #e5e5e5;
    padding: 10px;
    width: 380px !important;
    height: 150px;
    border-radius: 5px;
}

.dashboard_blog_draft_blog_prev_wrap,
.dashboard_blog_trash_blog_prev_wrap {
    margin-right: 20px;
    height: 100%;
}

.dashboard_blog_draft_blog_prev_thumbnail_con,
.dashboard_blog_trash_blog_prev_thumbnail_con {
    height: 100%;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_thumbnail_img,
.dashboard_blog_trash_blog_prev .trash_blog_prev_thumbnail_img {
    width: 130px !important;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_content,
.dashboard_blog_trash_blog_prev .trash_blog_prev_content {
    margin-left: 10px;
    width: calc(100% - 130px);
    height: 100%;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_title,
.dashboard_blog_trash_blog_prev .trash_blog_prev_title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_content_date,
.dashboard_blog_trash_blog_prev .trash_blog_prev_content_date {
    font-size: 11px;
    font-weight: 600;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_content_text,
.dashboard_blog_trash_blog_prev .trash_blog_prev_content_text {
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_toolbar,
.dashboard_blog_trash_blog_prev .trash_blog_prev_toolbar {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_tool,
.dashboard_blog_trash_blog_prev .trash_blog_prev_tool {
    background: #f1f1f1;
    width: 35px;
    height: 35px;
    font-size: 15px;
    border-radius: 50px;
    box-shadow: 0 0 5px #c3c3c3;
    cursor: pointer;
    transform: scale(1) translateY(0px);
    transition: all 0.2s ease-in-out;
}

.dashboard_blog_draft_blog_prev .draft_blog_prev_tool:hover,
.dashboard_blog_trash_blog_prev .trash_blog_prev_tool:hover {
    background: var(--themec);
    transform: scale(1.1);
}


/* dashboard_blog -- submitted for review  */
.dashboard_blog_sec3 {
    margin-top: 30px;
}

.dashboard_blog_subFreveiw {
    height: calc(100vh - 60px)
}

.dashboard_blog_subFreveiw_blog_prev_con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
}

.dashboard_blog_subFreveiw_blog_prev {
    width: 100% !important;
    height: 350px;
}

.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_image_con {
    width: 100%;
    height: 150px;
}

.dashboard_blog_subFreveiw_blog_prev .subFreveiw_blog_prev_thumbnail_con {
    width: 100%;
}