.dashboard_userMgnt_wrap {
    background: #ffffff;
    /* padding: 20px; */
    width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #cecece;
}

.dashboard_userMgnt_title {
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
}




/* usertable seachbar */
.dashboard_userMgnt_seachbar_con {
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
    color: #60666d;
    user-select: none;
}

.seachbar_wrap_title,
.seachbar_role_filter_wrap_title,
.seachbar_status_filter_wrap_title {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
}


.dashboard_userMgnt_seachbar_role_filter,
.dashboard_userMgnt_seachbar_status_filter {
    height: 35px !important;
}

.dashboard_userMgnt_seachbar_wrap {
    width: calc(100% - 680px);
}

.dashboard_userMgnt_seachbar {
    background: #f5f5f5;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
}

.userMgnt_seachbar_icon {
    width: 30px;
    height: 100%;
    color: #b3b3b3;
    border-radius: 0 5px 5px 0;
}

.userMgnt_seachbar_input {
    background: transparent;
    width: calc(100% - 30px);
    height: 100%;
    padding: 5px;
    padding-left: 0px;
    font-size: 14px;
}


/*user management sort & filter */

.dashboard_userMgnt_seachbar_role_filter,
.dashboard_userMgnt_seachbar_roleEdit_filter,
.dashboard_userMgnt_seachbar_status_filter {
    background: #f5f5f5;
    position: relative;
    display: block;

    height: 100%;
    color: #60666d;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    user-select: none;
}

.dashboard_userMgnt_seachbar_role_filter_current,
.dashboard_userMgnt_seachbar_roleEdit_filter_current,
.dashboard_userMgnt_seachbar_status_filter_current {
    justify-content: flex-start;
    position: relative;
    width: 125px;
    height: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
}

.dashboard_userMgnt_seachbar_role_filter_current:focus+.dashboard_userMgnt_seachbar_role_filter_list,
.dashboard_userMgnt_seachbar_roleEdit_filter_current:focus+.dashboard_userMgnt_seachbar_roleEdit_filter_list,
.dashboard_userMgnt_seachbar_status_filter_current:focus+.dashboard_userMgnt_seachbar_status_filter_list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.dashboard_userMgnt_seachbar_role_filter_current:focus+.dashboard_userMgnt_seachbar_role_filter_list .dashboard_userMgnt_seachbar_role_filter_option,
.dashboard_userMgnt_seachbar_roleEdit_filter_current:focus+.dashboard_userMgnt_seachbar_roleEdit_filter_list .dashboard_userMgnt_seachbar_roleEdit_filter_option,
.dashboard_userMgnt_seachbar_status_filter_current:focus+.dashboard_userMgnt_seachbar_status_filter_list .dashboard_userMgnt_seachbar_status_filter_option {
    cursor: pointer;
}

.dashboard_userMgnt_seachbar_role_filter_current:focus .dashboard_userMgnt_seachbar_role_filter_icon,
.dashboard_userMgnt_seachbar_roleEdit_filter_current:focus .dashboard_userMgnt_seachbar_roleEdit_filter_icon,
.dashboard_userMgnt_seachbar_status_filter_current:focus .dashboard_userMgnt_seachbar_status_filter_icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.dashboard_userMgnt_seachbar_role_filter_icon,
.dashboard_userMgnt_seachbar_roleEdit_filter_icon,
.dashboard_userMgnt_seachbar_status_filter_icon {
    background: transparent;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 35px !important;
    height: 35px !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.5;
    transition: 0.2s ease;
}

.dashboard_userMgnt_seachbar_role_filter_value,
.dashboard_userMgnt_seachbar_roleEdit_filter_value,
.dashboard_userMgnt_seachbar_status_filter_value {
    height: 100%;
}

.dashboard_userMgnt_seachbar_role_filter_input,
.dashboard_userMgnt_seachbar_roleEdit_filter_input,
.dashboard_userMgnt_seachbar_status_filter_input {
    display: none;
}

.dashboard_userMgnt_seachbar_role_filter_input:checked+.dashboard_userMgnt_seachbar_role_filter_input_text,
.dashboard_userMgnt_seachbar_roleEdit_filter_input:checked+.dashboard_userMgnt_seachbar_roleEdit_filter_input_text,
.dashboard_userMgnt_seachbar_status_filter_input:checked+.dashboard_userMgnt_seachbar_status_filter_input_text {
    display: flex;
}

.dashboard_userMgnt_seachbar_role_filter_input_text,
.dashboard_userMgnt_seachbar_roleEdit_filter_input_text,
.dashboard_userMgnt_seachbar_status_filter_input_text {
    background: transparent;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
}

.dashboard_userMgnt_seachbar_role_filter_list,
.dashboard_userMgnt_seachbar_roleEdit_filter_list,
.dashboard_userMgnt_seachbar_status_filter_list {
    background: #f7f7f7;
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 10px 10px 30px #d9d9d9;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
    z-index: 999999;
}

.dashboard_userMgnt_seachbar_role_filter_option,
.dashboard_userMgnt_seachbar_roleEdit_filter_option,
.dashboard_userMgnt_seachbar_status_filter_option {
    background: #f7f7f7;
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    transition: all 0.2s ease-in-out;
    /* border-radius: 5px; */
}



.dashboard_userMgnt_seachbar_role_filter_option:hover,
.dashboard_userMgnt_seachbar_role_filter_option:focus,
.dashboard_userMgnt_seachbar_status_filter_option:hover,
.dashboard_userMgnt_seachbar_status_filter_option:focus {
    background: #ffffff;
    color: #546c84;
}

@-webkit-keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}


/* sort & filter */


.dashboard_userMgnt_seachbar_btn {
    background: var(--themec);
    padding: 0 20px;
    height: 35px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dashboard_userMgnt_seachbar_btn:hover {
    opacity: 0.8;
}

/* usertable pagation */

.dashboard_userMgnt_pagination_con {
    justify-content: space-between;
    width: 200px;
    height: 35px;
    margin-left: 100px;
    user-select: none;
}

.dashboard_userMgnt_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 13px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.dashboard_userMgnt_pagination:hover {
    background: #cecece;
}

.userMgnt_pagination_rnd {
    background: #9b9b9b14;
    border-radius: 15px;
}

.userMgnt_pagination_active {
    background: var(--themec) !important;
    color: #ffffff;
}

/*  */

/* User management toolbar  */

.dashboard_userMgnt_tableToolBar_con {
    display: none;
    user-select: none;
}

.dashboard_userMgnt_tableToolBar_wrap {
    background: #f9f9f9;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
    box-shadow: inset 0px -15px 10px -15px #c3c3c387, inset 0px 15px 10px -15px #d3d3d390;
}

.dashboard_userMgnt_seachbar_roleEdit_filter_title {
    margin: 0 0 10px;
    color: #60666d;
    font-size: 14px;
    font-weight: 600;
}

.dashboard_userMgnt_seachbar_roleEdit_filter {
    background: #e5e5e5;
    height: 35px;
    color: #6a6a6a;
    border: 2px solid #979797;
}

.dashboard_userMgnt_seachbar_roleEdit_filter_current {
    width: 150px;
}

.dashboard_userMgnt_seachbar_roleEdit_filter_list {
    background: #f7f7f7;
    color: #6a6a6a;
    border: 2px solid #979797;
}

.dashboard_userMgnt_seachbar_roleEdit_filter_option {
    background: #f7f7f7;
}

.dashboard_userMgnt_seachbar_roleEdit_filter_option:hover,
.dashboard_userMgnt_seachbar_roleEdit_filter_option:focus {
    background: #d1d1d1;
    color: #979797;
}


.dashboard_userMgnt_tableToolBar_disableBtn {
    background: #e5e5e5;
    margin-left: 20px;
    padding: 0px 25px;
    height: 35px;
    color: #6a6a6a;
    font-size: 14px;
    border: 2px solid #979797;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dashboard_userMgnt_tableToolBar_disableBtn:hover {
    opacity: 0.8;
}

/* dashboard user Table */
.dashboard_userMgnt_userTable_con {
    background: #f7f7f7;
    /* min-height: calc(100vh - 315px); */
    border-radius: 0 0 5px 5px;
}

.dashboard_userMgnt_userTable {
    display: table;
    width: 100%;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.userTable_head {
    background: #e5e5e5;
    display: table-header-group;
    font-size: 16px;
    font-weight: 600;
}

.userTable_body {
    display: table-row-group;
}

.userTable_row {
    display: table-row;
    transition: all 0.2s ease-in-out;
}

.userTable_cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.dashboard_userMgnt_userTable .userTable_cell:nth-child(1) {
    padding-left: 20px;
}

.dashboard_userMgnt_userTable .userTable_cell:nth-child(2) {
    text-align: left;
}

.userTable_body>.userTable_row {
    transition: all 0.2s ease-in-out;
}

.userTable_head .userTable_row .userTable_cell {
    padding: 20px 10px;
}

.userTable_head .userTable_row .userTable_cell:nth-child(1) {
    padding: 20px 10px 20px 20px;
}

/* .userTable_body>.userTable_row:nth-child(even) {
    background: #9b9b9b14;
} */

.userTable_body>.userTable_row:hover {
    background: #f1f1f1;
}

.userTable_body>.userTable_row:nth-last-child {
    border-radius: 0 10px 10px 0;
}


.userTable_cell_user_con {
    justify-content: flex-start;
}

.cell_userImg_wrap {
    background: #e5e5e5;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.cell_userImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.userTable_cell_userName {
    font-size: 14px;
    font-weight: 600;
}

.user_role {
    background: #ff3b1d29;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    border-radius: 15px;
}

.user_role_admin {
    background: #ff3b1d29;
}

.user_role_contrib {
    background: #8500ff29;
}

.user_role_newbie {
    background: #00adff29;
}

.userTable_cell_status {
    background: #ccf5e7;
    width: 70px;
    margin: 0 auto;
    padding: 3px 5px;
    color: #00e599;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}

.cell_status_disable {
    background: #ffe5e5;
    color: #ff9c9c;
}

.userTable_cell_btn {
    background: #fae5fe;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: #242424;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

.cell_btn_view {
    background: #fae5fe;
}

.cell_btn_disable {
    background: #ffe5e5;
}

.cell_btn_more {
    background: #e5e8fe;
}


/*  */