.dashboard_userMgnt_wrap {
    background: #ffffff;
    /* padding: 20px; */
    width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #cecece;
}

.dashboard_userMgnt_title {
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
}

/* dashboard user Table */

.dashboard_userMgnt_userTable {
    display: table;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
}

.userTable_head {
    background: #9b9b9b14;
    display: table-header-group;
    font-size: 16px;
    font-weight: 600;
}



/* usertable seachbar */
.dashboard_userMgnt_seachbar_con {
    /* justify-content: flex-start; */
    justify-content: space-between;
    margin: 20px;
    height: 35px;
}

.dashboard_userMgnt_seachbar {
    background: #f5f5f5;
    width: 280px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.dashboard_userMgnt_seachbar {
    height: 100%;
}

.userMgnt_seachbar_icon {
    width: 30px;
    height: 100%;
    color: #b5b5b5;
    border-radius: 0 5px 5px 0;
}

.userMgnt_seachbar_input {
    background: transparent;
    width: calc(100% - 30px);
    height: 100%;
    padding: 5px;
    padding-left: 0px;
    font-size: 14px;
}

.dashboard_userMgnt_seachbar_filter {
    position: relative;

    height: 100%;
}

.dashboard_userMgnt_seachbar_filter select {
    margin: 0 10px;
    background: #f5f5f5;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;


    -webkit-appearance: button;
    appearance: button;
    outline: none;
}


.dashboard_userMgnt_seachbar_filter::before {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;


    content: "/&#8595";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 10px;
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 28px;
    border-radius: 0 5px 5px 0;
    /* line-height: 45px; */
    pointer-events: none;
}

.dashboard_userMgnt_seachbar_filter select option {
    background: #f5f5f5;

    padding: 5px;
    outline: 0 !important;
    box-shadow: none;

}

option:focus,
option:active {
    box-shadow: none !important;
    outline: none;
}




.dashboard_userMgnt_seachbar_btn {
    background: var(--themec);
    padding: 0 20px;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
}

/* usertable pagation */

.dashboard_userMgnt_pagination_con {
    justify-content: space-between;
    width: 200px;
    /* margin: 10px 20px; */
    user-select: none;
}

.dashboard_userMgnt_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 13px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dashboard_userMgnt_pagination:hover {
    background: #cecece;
}

.userMgnt_pagination_rnd {
    background: #9b9b9b14;
    border-radius: 15px;
}

.userMgnt_pagination_active {
    background: var(--themec) !important;
    color: #ffffff;
}

/*  */

.userTable_body {
    display: table-row-group;
}

.userTable_row {
    display: table-row;
    height: 40px;
}

.userTable_cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.dashboard_userMgnt_userTable .userTable_cell:nth-child(1) {
    padding-left: 20px;
}

.dashboard_userMgnt_userTable .userTable_cell:nth-child(2),
.dashboard_userMgnt_userTable .userTable_cell:nth-child(2) {
    text-align: left;
}

.userTable_body>.userTable_row {
    transition: all 0.2s ease-in-out;
}

.userTable_head .userTable_row .userTable_cell {
    padding: 20px 10px;
}

.userTable_head .userTable_row .userTable_cell:nth-child(1) {
    padding: 20px 10px 20px 20px;
}

.userTable_body>.userTable_row:nth-child(even) {
    background: #9b9b9b14;
}

.userTable_body>.userTable_row:hover {
    background: #ff3b1d12;
}

.userTable_body>.userTable_row:nth-last-child {
    border-radius: 0 10px 10px 0;
}


.userTable_cell_user_con {
    justify-content: flex-start;
}

.cell_userImg_wrap {
    background: #e5e5e5;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.cell_userImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.userTable_cell_userName {
    font-size: 14px;
    font-weight: 600;
}

.user_role {
    background: #ff3b1d29;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    border-radius: 15px;
}

.user_role_admin {
    background: #ff3b1d29;
}

.user_role_contrib {
    background: #8500ff29;
}

.user_role_newbie {
    background: #00adff29;
}

.userTable_cell_status {
    background: #ccf5e7;
    width: 70px;
    margin: 0 auto;
    padding: 3px 5px;
    color: #00e599;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}

.cell_status_disable {
    background: #ffe5e5;
    color: #ff9c9c;
}

.userTable_cell_btn {
    background: #fae5fe;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: #242424;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

.cell_btn_view {
    background: #fae5fe;
}

.cell_btn_disable {
    background: #ffe5e5;
}

.cell_btn_more {
    background: #e5e8fe;
}


/*  */