.dashboard_create_blog_con {
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 30px 0px; */
}

.dashboard_create_blog_MainSec1 {
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard_create_blog_MainSec1>.dashboard_create_blog_sec1 {
    background: #ffffff;
    padding: 20px;
    width: calc(100% - 320px);
    border-radius: 10px;
    box-shadow: 20px 20px 25px #cecece;
}

.dashboard_create_blog_MainSec1>.dashboard_create_blog_sec2 {
    margin-left: 20px;
}

.dashboard_create_blog_sec2_sub_section1,
.dashboard_create_blog_sec2_sub_section2,
.dashboard_create_blog_sec2_sub_section3 {
    background: #ffffff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #cecece;
}

.dashboard_create_blog_sec2_sub_section1 {
    margin-bottom: 20px;
}

.dashboard_create_blog_sec2_sub_section2 {
    margin-bottom: 20px;
}

.dashboard_create_blog_sec2_sub_section3 {
    justify-content: space-between;
}

.dashboard_create_blog_sec_title {
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
}

.blog_inp_con {
    position: relative;
    /* background: #cecece; */
    margin-bottom: 35px;
    font-size: 18px;
    width: 100%;
}

.blog_inp_label {
    justify-content: space-between;
    margin-bottom: 15px;
}

.label_icon {
    position: relative;
    opacity: 0;
    visibility: hidden;
    width: 25px;
    height: 25px;
    color: #4affbc;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.active_label_icon {
    opacity: 1;
    visibility: visible;
}

.active_label_icon:hover .label_tooltip {
    display: block;
}

.label_tooltip {
    display: none;
    position: absolute;
    top: -30px;
    right: 0;
    background: #e5e5e5;
    padding: 5px 10px;
    color: #000000 !important;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #cecece;
    transition: all .3s ease-in-out;
}

.label_tooltip::before {
    position: absolute;
    bottom: -8px;
    right: 5px;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #e5e5e5;
}


.blog_inp_con>.blog_inp,
.create_blog_cata_con,
.create_blog_tags_con {
    /* position: relative; */
    background: #ffffff;
    padding: 8px;
    width: 100%;
    min-height: 40px;
    font-size: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    box-shadow: inset 9px 9px 35px #e9e9e9, inset -9px -9px 35px #e5e5e500;
    transition: all .3s ease-in-out;
}

.blog_inp_charCount {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    color: #b2b7c6;
    font-size: 14px;
    /* font-weight: 600; */
}

.active_blog_inp_charCount {
    opacity: 1;
    visibility: visible;
}


/* blog tags */
.create_blog_cata_con,
.create_blog_tags_con {
    justify-content: flex-start;
}

.create_blog_cata_inp,
.create_blog_tags_inp {
    background: transparent;
    flex: 1;
    height: 100%;
    font-size: 15px;
}

.cata_format,
.tags_format {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    color: #ffffff;
    padding: 2px;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 0 3px #979797;
}

.cata_format {
    background: var(--themec);
    box-shadow: 0 0 3px #ff3b1d;
}

.cata_format>i,
.tags_format>i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #000000;
    width: 16px;
    height: 16px;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 3px #00000033;
    cursor: pointer;
}

/* image dropzone section */
.dashboard_create_blog_sec2_sub_section2 {
    padding: 0;
}

.dashboard_create_blog_sec2_sub_section2 .dashboard_create_blog_sec_title {
    padding: 20px;
    margin-bottom: 0;
}

.dashboard_create_blog_image_upload_con {
    background: #fff1ef;
    border-radius: 0 0 10px 10px;
}

.dashboard_create_blog_image_dropzone {
    position: relative;
    background: #fff1ef;
    height: 200px;
    /* border: 1.5px dashed var(--themec); */
    border-radius: 0 0 10px 10px;
}

.dropzone_active {
    background: #e0fff4 !important;
}

.dashboard_create_blog_image_dropzone_overlay {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: inherit; */
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

.dashboard_create_blog_image_dropzone_content {
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.blog_image_dropzone_icon {
    color: #ff7863;
    font-size: 5em;
    transition: all 0.1s ease-in-out;
}

.blog_image_dropzone_text {
    margin-top: 10px;
    color: #b2b7c6;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}

.blog_image_dropzone_text span {
    color: var(--themec)
}

.blog_image_progress_preveiw_con {
    /* display: none; */
    /* margin-top: 10px; */
}

.blog_image_progress_preveiw {
    background: #ff3b1d29;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.blog_image_progress_preveiw_mainImgIcon {
    width: 50px;
    height: 50px;
    color: #ff7863;
    font-size: 30px;
}

.blog_image_progress_preveiw_mainImg_content {
    flex-direction: column;
    width: calc(100% - 50px);
    height: 50px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
}

.blog_image_progress_preveiw_mainImg_details {
    justify-content: space-between;
    width: 100%;
}

.blog_image_progress_bar_con {
    background: #ffffff;
    margin-top: 8px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: all 0.8s ease-in-out;
}

.blog_image_progress_bar {
    background: #ff7863;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    /* transition: all 0.8s ease-in-out; */
}

.blog_image_upload_completed {
    background: #ffffff;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    color: #ff7863;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

.preveiw_img_size {
    margin-top: 3px;
    font-size: 11px;
}



/*  */
.dashboard_create_blog_MainSec2 {
    background: #ffffff;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #cecece;
}

.dashboard_create_blog_MainSec2>.dashboard_create_blog_sec1 {
    width: 100%;
}

.blog_create_mainBtn {
    background: #000000;
    /* margin-right: 10px; */
    padding: 10px 20px;
    width: 100%;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.blog_create_mainBtn:hover {
    opacity: .9;
}

.blog_create_mainBtn_partition {
    width: 100px;
}

.blog_create_publishBtn {
    background: var(--themec);
}