.forgot_password_wrap {
    position: relative;
    background: #e6e6e6;
    min-height: 100vh;
}

.forgot_password_modal_con {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    background: #000000bf;
    width: 100%;
    min-height: 100vh;
    transition: all .2s ease-in-out;
}

.forgot_password_modal {
    background: #ffffff;
    padding: 50px;
    width: 450px;
    min-height: 450px;
    text-align: justify;
    font-size: 14px;
}

.forgot_password_modal>h2 {
    position: relative;
    margin: 0 0 50px;
    text-align: center;
}

.forgot_password_modal>h2::after {
    background: #000000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    content: "";
    width: 70%;
    height: 2px;
    transform: translate(-50%, 0%);
}

.forgot_password_modal>p {
    margin: 20px 0;
}

.forgot_password_modal a {
    padding: 10px 0;
    color: var(--themec);
    font-weight: 600;
}

.forgot_password_modal_closeBtn {
    background: var(--themec);
    margin-top: 30px;
    padding: 10px 0px;
    width: 120px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.forgot_password_modal_closeBtn:hover {
    opacity: 0.8;
}

.forgot_password_con {
    background: #ffffff;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0 0 5px #cfcfcf;
}



.forgot_password_poster {
    flex-direction: column;
    background: url('../assests/forgot_password_posterImg.jpg') center no-repeat, #000000aa;
    background-blend-mode: multiply;
    background-size: cover;
    width: calc(100% - 450px);
    min-height: 100vh;
    padding: 50px;
}

.forgot_password_poster>.siteTitle {
    color: var(--themec);
    font-family: 'Oswald', sans-serif;
    font-size: 10em;
    text-shadow: -2px 4px 8px #000000;

}

.forgot_password_poster>.qoute {
    color: #ffffff;
    font-size: 18px;
}

.forgot_password_poster>.qoute>i {
    color: var(--themec);
    font-size: 10px;
    vertical-align: super;
}

.forgot_password_form_con {
    padding: 50px;
    width: 450px;
    min-height: 100vh;
}

.forgot_password_form {
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */
}

.forgot_password_form_title {
    margin-bottom: 20px;
    font-size: 20px;
}

.forgot_password_form_text {
    margin-bottom: 30px;
    font-size: 13px;
}

.forgot_password_form_error {
    margin: 10px 0 20px;
    height: 16px;
    color: #d14836;
    font-size: 13px;
}

.forgot_password_form {
    margin: 10px 0 30px;
}

.forgot_password_form>input {
    background: #ffffff;
    padding: 15px 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #dbe0df;
}

.forgot_password_form>input::placeholder {
    color: #cdcdcd;
}

.forgot_password_form>input:focus {
    border: 1px solid var(--themec);
    /* box-shadow: 0 0 2px var(--themec); */
}

.forgot_password_form>button {
    background: #000000;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.forgot_password_form>button:hover {
    background: var(--themec);
}